<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      You have successfully signed up ,
      your username is  <%= @customer.email %><br/>
      your password is  <%= @customer.password %><br/>
    </p>
    <p>
      To login to the site, just follow this link: 

      <a href="http://192.168.17.145:3000/signin">Login</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>